#about {
    width: $page-width;
    margin: $main-spacing*2 auto;
    display: flex;

    .about-img {
        max-width: 30%;
        margin-left: $main-spacing*2;
        position: relative;
        z-index: 1;

        &::before {
            background: #969696;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            -webkit-transform: rotate(-6deg);
            -moz-transform: rotate(-6deg);
            -ms-transform: rotate(-6deg);
            -o-transform: rotate(-6deg);
            transform: rotate(-6deg);
            -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
            -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
        }

        img {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: white;

            -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
        }
    }

    .about {
        width: 50%;
        padding: $main-spacing*2 $main-spacing*4;

        h2 {
            width: 50%;
            padding-bottom: 10px;
            border-bottom: 1px solid $color-primary;
            font-family: $heading-font;
            text-transform: uppercase;
            letter-spacing: 2px;

        }

        .about-info {
            margin: $main-spacing 0;
            padding: 0;

            ul {
                display: grid;
                grid-template-columns: auto auto;
                gap: 10px;
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    font-size: $base-font-size;
                    font-family: $text-font;
                    letter-spacing: 1px;

                    span {
                        margin-right: 10px;
                        font-family: $heading-font;
                        font-weight: bold;
                        color: #34343466;
                        border-bottom: 2px solid #34343466;
                        letter-spacing: 0px;
                    }
                }
            }
        }

        .about-description {
            text-align: justify;
            line-height: 150%;
        }
    }
}

@media (max-width: 1200px) {
    #about {
        width: 90%;

        .about-img {
            margin-left: 0;
            max-width: 35%;
        }

        .about {
            width: 60%;
            padding: 0 $main-spacing*2;

            h2 {
                margin-top: 0;
            }

            .about-info {

                ul {

                    li {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    #about {
        width: 90%;

        .about-img {
            max-width: 40%;
        }

        .about {
            width: 60%;
            padding: 0 $main-spacing/2 0 $main-spacing*2;


            .about-info {

                ul {

                    li {
                        font-size: 14px;
                    }
                }
            }

            .about-description {
                font-size: 14px;
            }
        }
    }
}

@media(max-width: 900px) {
    #about {
        width: 100%;
        flex-direction: column;

        .about-img {
            margin: 40px auto 0 auto;
        }

        .about {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
        }
    }
}

@media(max-width: 756px) {
    #about {
        .about {
            .about-info {
                ul {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}