#advantages {
    padding: $main-spacing 0 $main-spacing*2;
    position: relative;
    overflow: hidden;
    z-index: 1;

    h2 {
        width: $page-width;
        margin: 0 auto $main-spacing*2 auto;
        padding: $main-spacing;
        font-family: $heading-font;
        font-size: 26px;
        letter-spacing: 3px;
        border-bottom: 5px double $color-hover;
        text-align: center;
        text-transform: uppercase;
        color: $color-primary;
    }

    .advantages {
        width: $page-width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: center;
        row-gap: 50px;
        column-gap: 100px;

        .advantages-list {
            padding: 0 $main-spacing;
            justify-self: center;

            img {
                display: block;
                height: 80px;
                margin: 0 auto;
            }

            h6 {
                font-family: $heading-font;
                font-size: $base-font-size;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .personal,
        .learning,
        .development,
        .quality,
        .service,
        .flexible,
        .honest,
        .phone,
        .time,
        .coffee {
            img {
                transition: .2s linear;
            }
        }

        .personal:hover,
        .learning:hover,
        .development:hover,
        .quality:hover,
        .service:hover,
        .flexible:hover,
        .honest:hover,
        .phone:hover,
        .time:hover,
        .coffee:hover {
            img {
                transform: scale(1.2);
            }
        }

    }
}

#advantages::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(1.5);
    background-image: url('/public/img/bg.png');
    z-index: -1;
}


@media (max-width: 1400px) {
    #advantages {

        .advantages {
            row-gap: 20px;
            column-gap: 10px;

            .advantages-list {

                img {
                    height: 70px;
                }

            }
        }
    }
}

@media(max-width:1200px) {
    #advantages {

        h2 {
            width: $page-medium-width;
        }

        .advantages {
            width: $page-medium-width;
            row-gap: 10px;
        }
    }
}

@media(max-width:1024px) {
    #advantages {

        .advantages {
            grid-template-columns: auto auto auto auto;
        }
    }

    #advantages::before {
        transform: scaleX(2);
    }
}

@media(max-width:900px) {
    #advantages {
        width: 100%;
        padding: $main-spacing 0;

        h2 {
            width: 100%;
            padding: $main-spacing 0;
        }

        .advantages {
            width: 100%;

            .advantages-list {

                h6 {
                    font-size: 14px;
                }
            }
        }
    }

    #advantages::before {
        transform: scaleX(2.5);
    }
}


@media(max-width: 768px) {
    #advantages {

        .advantages {
            grid-template-columns: auto auto auto;
        }
    }

    #advantages::before {
        transform: scaleX(3);
    }
}

@media(max-width: 576px) {
    #advantages {
        h2 {
            font-size: 22px;
        }

        .advantages {
            grid-template-columns: auto auto;
        }
    }

    #advantages::before {
        transform: scaleX(4.5);
    }
}