#advantages {
    padding: $main-spacing 0;
    position: relative;
    overflow: hidden;
    z-index: 1;

    h1 {
        width: $page-width;
        margin: 0 auto $main-spacing*2 auto;
        padding: $main-spacing;
        font-family: $heading-font;
        font-size: 26px;
        letter-spacing: 3px;
        border-bottom: 5px double $color-hover;
        text-align: center;
        text-transform: uppercase;
        color: $color-primary;
    }

    .advantages {
        width: $page-width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: center;
        row-gap: 50px;
        column-gap: 100px;


        .advantages-list {
            padding: 0 $main-spacing;
            justify-self: center;

            img {
                display: block;
                height: 80px;
                margin: 0 auto;
            }

            h6 {
                font-family: $heading-font;
                font-size: $base-font-size;
                text-align: center;
                text-transform: uppercase;
            }
        }

    }

}

#advantages::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(1.5);
    background-image: url('/public/img/bg.png');
    z-index: -1;
}