#certificates {
    margin-top: 50px;
    background-image: url("/public/img/mountains.jpg");
    background-attachment: fixed;


    div {
        width: 100%;
        padding: $main-spacing/2 0;
        background-color: #fff;

        h1 {
            width: 20%;
            margin: 0 auto;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            color: rgba(0, 0, 0, .2);
            font-family: $heading-font;
            letter-spacing: 10px;
            position: relative;

            &::before,
            &::after {
                content: "";
                width: 25px;
                height: 1px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: rgba(0, 0, 0, .2);
            }

            &::before {
                left: -10px;
            }

            &::after {
                right: 0;
            }
        }
    }

    div.certificates-gallery {
        width: $page-width;
        margin: 0 auto;
        padding: $main-spacing 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: transparent;

        img {
            width: 20%;
            margin: $main-spacing;
            cursor: pointer;
        }
    }
}