#certificates {
    background-image: url("/public/img/mountains.jpg");
    background-attachment: fixed;

    div {
        width: 100%;
        padding: $main-spacing/2 0;
        background-color: #fff;

        h2 {
            width: 20%;
            margin: 0 auto;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            color: rgba(0, 0, 0, .2);
            font-family: $heading-font;
            letter-spacing: 10px;
            position: relative;

            &::before,
            &::after {
                content: "";
                width: 25px;
                height: 1px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: rgba(0, 0, 0, .2);
            }

            &::before {
                left: -10px;
            }

            &::after {
                right: 0;
            }
        }
    }

    div.certificates-gallery {
        width: 800px;
        margin: 0 auto;
        padding: $main-spacing 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: transparent;

        img {
            width: 20%;
            margin: $main-spacing;
            border-radius: 20px;
            cursor: pointer;
            transition: .2s linear;
        }

        img:hover {
            transform: perspective(900px) rotateY(35deg);
        }
    }
}

@media (max-width: 1200px) {
    #certificates {
        div {
            h2 {
                width: 26%;
            }
        }
    }
}

@media (max-width: 1024px) {
    #certificates {
        div {
            h2 {
                width: 35%;
            }
        }
    }
}

@media (max-width: 900px) {
    #certificates {

        div.certificates-gallery {
            width: 100%;
        }
    }
}

@media (max-width: 756px) {
    #certificates {
        div {
            h2 {
                width: 50%;
                font-size: 12px;
            }
        }
    }
}