#home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    .my-photo,
    .my-name,
    .professions,
    .socials {
        margin-bottom: 10px;
        text-align: center;
    }

    .my-photo {
        position: relative;
        margin: 0 auto;
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
        border-radius: 50%;
        border: 5px solid gray;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .title {
        margin: 0;
        padding: 0;
        font-size: $size-h1;
        font-family: $heading-font;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .my-name {
        font-size: $size-h2;
        font-family: $heading-font;
        margin: $main-spacing/2 0;
        letter-spacing: 3px;
    }

    .professions {
        margin-bottom: $main-spacing;
    }

    .socials {
        display: flex;
        justify-content: space-around;

        margin-bottom: $main-spacing;

        a {
            width: 34px;
            height: 34px;
            line-height: 34px;
            color: white;
            font-size: 14px;
            border: 1px solid gray;

            transition: 1s linear;

            &:hover {
                background-color: $color-primary;
            }
        }
    }

    .button-down {
        position: relative;
        height: 60px;
        width: 32px;
        margin: 0 auto;
        border: 2px solid $bgcolor;
        border-radius: 23px;
        text-align: center;
        overflow: hidden;

        .mouse {
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;

            .mouse-down {
                position: absolute;
                top: 0%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1);
                width: 10px;
                height: 10px;
                background-color: $bgcolor;
                border-radius: 50%;

                animation: 2s down linear infinite;
            }
        }
    }


}

@keyframes down {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}