.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: $main-spacing/4 $main-spacing;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;

    ul {
        width: 50%;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
            list-style: none;

            a {
                padding: $main-spacing/2 $main-spacing;
                text-decoration: none;
                font-family: $heading-font;
                font-size: 20px;
                color: white;
                letter-spacing: 2px;
            }

            &:hover {

                a {
                    color: $color-primary;
                }
            }
        }

    }
}

@media (max-width: 1200px) {
    .navigation {
        ul {
            width: 60%;
        }
    }
}

@media (max-width: 1024px) {
    .navigation {
        top: 0;
        bottom: 0;
        left: -20%;
        width: 20%;
        padding: 0;
        background-color: rgba(0, 0, 0, .9);
        transition: transform .5s ease-in-out;

        ul {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            flex-direction: column;
            justify-content: center;

            li {
                padding: 10px 0;
                text-align: center;
            }
        }
    }

    .navigation.showNav {
        transform: translateX(99%);
    }
}

@media(max-width: 756px) {
    .navigation {
        left: -40%;
        width: 40%;
    }
}