#offer {
    width: $page-width;
    margin: 0 auto;
    padding-top: 80px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: context-menu;

    h2 {
        position: absolute;
        width: 50%;
        padding-bottom: 10px;
        top: 0;
        left: 0;
        font-family: $heading-font;
        letter-spacing: 3px;
        border-bottom: 5px double $color-hover;
        font-size: 26px;

        span {
            color: $color-primary;
        }
    }

    .offer {
        width: 29%;
        height: 400px;
        margin: $main-spacing/2 auto $main-spacing auto;
        padding: $main-spacing/2;
        border: 1px solid white;
        transition: .8s linear;
        opacity: 0.5;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

        .offer-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h3 {
                width: 60%;
                font-size: 20px;
                font-family: $heading-font;
                text-align: center;
                letter-spacing: 2px;
            }

            img {
                width: 40%;
            }
        }

        .offer-description {
            margin: 5px 0 0 0;
            padding: 5px;
            font-family: $text-font;
            text-align: justify;
            line-height: 120%;

            span {
                margin-right: 5px;
                transition: .8s linear;
            }

            &:hover {

                span {
                    transform: rotate(360deg);
                    transform-origin: center;
                }
            }
        }

        &:hover {
            border: 1px solid black;
            opacity: 1;

            .offer-description {
                span {
                    color: $color-hover;

                }
            }
        }

    }




}

@media (max-width: 1200px) {
    #offer {
        width: $page-medium-width;


        .offer {
            width: 40%;
            height: 350px;

            .offer-heading {
                h3 {
                    width: 60%;
                    font-size: 18px;
                }

                img {
                    padding-top: 10px;
                    width: 30%;
                    height: 50px;
                }
            }

            .offer-description {
                font-size: 14px;
            }
        }
    }
}