#personal-offer {
    position: relative;
    width: 100%;
    height: 420px;
    background-image: url('../../public/img/water.jpg');
    background-attachment: fixed;

    .personal-offer-bg {
        width: 100%;
        height: 420px;
        background-color: rgba(0, 0, 0, 0.92);
    }

    .personal-offer-description {
        width: $page-width;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: $base-font-size;
        font-family: $text-font;
        color: white;
        line-height: 150%;

        h2 {
            width: 65%;
            margin: 0 auto;
            padding: $main-spacing;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            color: white;
            font-family: $heading-font;
            letter-spacing: 10px;
            position: relative;
            text-shadow: 1px 0px 1px white;

            &::before,
            &::after {
                content: "";
                width: 25px;
                height: 1px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: white;
            }

            &::before {
                left: -10px;
            }

            &::after {
                right: 0;
            }
        }

        p {
            margin: 10px 0;
            font-family: $text-font;
            font-size: $base-font-size;
            line-height: 190%;
            letter-spacing: 1px;
            text-align: justify;
        }

        button {
            width: 200px;
            position: absolute;
            bottom: -70px;
            left: 50%;
            transform: translateX(-50%);
            padding: $main-spacing/2 $main-spacing;
            font-size: 14px;
            font-family: $heading-font;
            font-weight: 700;
            background-color: transparent;
            letter-spacing: 3px;
            border: 3px solid $color-primary;
            text-transform: uppercase;
            color: $color-primary;
            border-radius: 10px;
            cursor: pointer;
            transition: color 300ms;
            z-index: 1;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            outline: none;

            &:hover {
                color: white;
            }

            &::before {
                content: '';
                background-color: $color-primary;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                transform: scaleY(0);

                transition: transform 600ms;
                transform-origin: 0 0;
                transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
            }

            &:hover::before {
                transform: scaleY(1);
            }

            a {
                text-decoration: none;
                color: white
            }
        }
    }
}

@media (max-width: 1200px) {
    #personal-offer {

        .personal-offer-description {
            width: $page-medium-width;
            font-size: 14px;
            line-height: 130%;

            h2 {
                width: 90%;
                font-size: 16px;
            }

            p {
                font-size: 14px;
                line-height: 170%;
            }
        }
    }
}