#tools {
    width: $page-width;
    margin: $main-spacing auto;

    h2 {
        width: 45%;
        margin: 0 auto;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        color: rgba(0, 0, 0, .2);
        font-family: $heading-font;
        letter-spacing: 10px;
        position: relative;

        &::before,
        &::after {
            content: "";
            width: 25px;
            height: 1px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, .2);
        }

        &::before {
            left: -10px;
        }

        &::after {
            right: 0;
        }
    }

    .tools-slider.my-slider {

        img {

            padding: $main-spacing;
        }
    }
}

@media (max-width: 1200px) {
    #tools {
        width: $page-medium-width;

        h2 {
            width: 90%;
        }
    }
}

@media (max-width: 1024px) {
    #tools {
        width: $page-medium-width;

        h2 {
            width: 75%;
        }
    }
}


@media (max-width: 900px) {
    #tools {
        width: 90%;

        h2 {
            width: 75%;
        }
    }
}

@media(max-width: 768px) {
    #tools {

        h2 {
            font-size: 12px;
        }
    }
}

@media(max-width: 576px) {
    #tools {

        h2 {
            font-size: 10px;
            letter-spacing: 6px;
        }
    }
}

@media(max-width: 360px) {
    #tools {

        h2 {
            width: 85%;
        }
    }
}