$base-font-size: 16px;
$heading-font: 'Roboto',
sans-serif;
$text-font: 'Quicksand',
sans-serif;
$size-h1: 50px;
$size-h2: 40px;
$size-h3: 32px;
$page-width: 1200px;
$main-spacing: 20px;
$bgcolor: #F2F2F2;
$color-primary: #0583F2;
$color-hover: #012840;
$color-gradient-gb: linear-gradient(to right, #50B4F2, #0583F2 20%, #50B4F2 40%, #012840 60%, #50B4F2 90%);


// /* Color Theme Swatches in Hex */
$Shoeroom-1-hex: #0583F2;
$Shoeroom-2-hex: #012840;
$Shoeroom-3-hex: #27A4F2;
$Shoeroom-4-hex: #50B4F2;
$Shoeroom-5-hex: #F2F2F2;