#why-worth {
    padding: 100px 20% 30px 20%;
    background-image: url(/public/img/bg.png);

    .images {
        position: relative;

        img {
            position: absolute;
        }

        img.thinking {
            top: 20px;
            left: 0;
        }

        img.cloud {
            width: 260px;
            top: -50px;
            left: 20%;
        }
    }

    .why-worth-desc {
        width: 50%;
        margin-left: 50%;

        h1 {
            width: 50%;
            margin: 0 0 $main-spacing 0;
            padding: $main-spacing/2;
            font-family: $heading-font;
            font-size: 26px;
            letter-spacing: 3px;
            border-bottom: 5px double $color-hover;

            span {
                color: $color-primary;
            }
        }

        div {
            h6 {
                margin: $main-spacing 0;
                font-size: 22px;
                font-family: $heading-font;

                span {
                    margin-right: $main-spacing/2;

                    img {
                        display: inline-block;
                        width: 20px;
                    }
                }
            }
        }

        .read-more {
            width: 190px;
            position: relative;
            margin-top: $main-spacing;
            padding: $main-spacing/2 $main-spacing;
            font-size: 14px;
            font-family: $heading-font;
            font-weight: 700;
            background-color: transparent;
            letter-spacing: 3px;
            border: 3px solid $color-primary;
            text-transform: uppercase;
            color: $color-primary;
            border-radius: 10px;
            cursor: pointer;
            transition: color 300ms;
            z-index: 1;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            outline: none;

            &:hover {
                color: white;
            }

            &::before {
                content: '';
                background-color: $color-primary;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                transform: scaleX(0);

                transition: transform 600ms;
                transform-origin: 0 0;
                transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
            }

            &:hover::before {
                transform: scaleX(1);
            }
        }
    }

    p.why-worth-text {
        height: 0;
        overflow: hidden;
        transition: .2s linear;
    }

    p.why-worth-text.show {
        height: 170px;
    }
}