#how-works {
    position: relative;
    background-image: url('/public/img/works.jpg');
    background-attachment: fixed;
    padding: $main-spacing*2 0;

    .how-works-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.9);
    }

    div {
        position: relative;
        z-index: 1;

        .how-works-heading {
            width: $page-width;
            margin: 0 auto;
            padding: 0;

            h2 {
                width: 50%;
                padding-bottom: 10px;
                font-family: $heading-font;
                letter-spacing: 3px;
                border-bottom: 5px double $color-hover;
                font-size: 26px;

                span {
                    color: $color-primary;
                }
            }
        }

        ul {
            width: 80%;
            margin: $main-spacing*2 auto;
            padding: 0;
            display: flex;
            justify-content: center;
            list-style-type: none;

            li {
                font-size: $base-font-size*2;
                font-family: $heading-font;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.09);
                line-height: 38px;

                img {
                    display: inline-block;
                    width: 50px;
                    margin: 0 30px 0 20px;
                    transform: scaleX(1);
                    transform-origin: 0 0;
                    animation: arrowAnimation cubic-bezier(0.5, 1.6, 0.4, 0.7) 5s infinite;
                }

                .decision {
                    animation-delay: .5s;
                }

                .realization {
                    animation-delay: 1s;
                }

                .support {
                    animation-delay: 1.5s;
                }
            }
        }

        div {
            width: $page-width;
            margin: $main-spacing*3 auto;
            display: flex;

            p {
                width: 80%;
                font-size: 20px;
                text-align: justify;
                line-height: 200%;
            }

            div.how-works-heading-img {
                position: relative;
                width: 20%;

                .codingImg {
                    position: absolute;
                    width: 80%;
                    top: 50%;
                    left: 25%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

@keyframes arrowAnimation {
    0% {
        transform: scaleX(1);
    }

    10% {
        transform: scaleX(1.3);
    }

    100% {
        transform: scaleX(1.3);
    }
}

@media (max-width: 1600px) {
    #how-works {

        div {
            ul {
                li {
                    font-size: 28px;
                    font-family: $heading-font;

                    img {
                        width: 44px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    #how-works {

        div {
            ul {
                width: 95%;
            }
        }
    }
}

@media (max-width: 1200px) {
    #how-works {

        div {
            .how-works-heading {
                width: $page-medium-width;
            }

            ul {

                li {
                    font-size: 22px;

                    img {
                        width: 35px;
                    }
                }
            }

            div {
                width: $page-medium-width;

                p {
                    width: 80%;
                    font-size: 16px;
                    line-height: 190%;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    #how-works {

        div {

            ul {
                margin: 30px auto;

                li {
                    font-size: 20px;

                    img {
                        margin: 0 20px 0 5px
                    }
                }
            }

            div {
                width: 100%;
                margin: 20px auto;

                p {
                    width: 80%;
                    font-size: 16px;
                    line-height: 190%;
                }
            }
        }
    }
}

@media(max-width: 900px) {
    #how-works {
        padding: $main-spacing 0;

        div {
            .how-works-heading {
                width: 100%;

                h2 {
                    margin-left: $main-spacing;
                }
            }

            ul {

                li {
                    font-size: 20px;

                    img {
                        width: 24px;
                    }
                }
            }

            div {
                flex-direction: column-reverse;

                p {
                    margin: 0 auto;
                }

                div.how-works-heading-img {
                    width: 100%;

                    .codingImg {
                        position: static;
                        transform: translateY(0);
                        width: 20%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    #how-works {

        div {
            .how-works-heading {

                h2 {
                    width: 70%;
                }
            }

            ul {
                flex-wrap: wrap;

                li {
                    img {
                        margin: 0 10px 0 5px;
                    }
                }
            }
        }
    }
}

@media(max-width: 576px) {
    #how-works {

        div {
            .how-works-heading {

                h2 {
                    font-size: 22px;
                    width: 80%;
                }
            }

            ul {

                li {
                    font-size: 18px;

                    img {
                        width: 20px;
                    }
                }
            }

            div {
                div.how-works-heading-img {

                    .codingImg {
                        width: 40%;
                    }
                }
            }
        }
    }
}

@media(max-width: 360px) {
    #how-works {

        div {
            .how-works-heading {

                h2 {
                    font-size: 20px;
                    width: 85%;
                }
            }

            ul {

                li {
                    font-size: 16px;
                }
            }
        }
    }
}