@import './vars';
@import './page';
@import './header';
@import './burger';
@import './typing';
@import './nav';
@import './offer';
@import './personalOffer';
@import './about';
@import './toolsSlider';
@import './certificatesGallery';
@import './whyWorth';
@import './works';
@import './advantages';
@import './projects';
@import './tellMe';
@import './contact';
@import './feet';



@import '../components/footer';