<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamil Gajewski Strony Internetowe</title>

    <meta name="description" content="Strony internetowe Elbląg, tworzenie stron internetowych">
    <meta name="author" content="Kamil Gajewski">
    <meta name="keywords"
        content="Strony internetowe, usługi internetowe, marketing, nowocześnie, tanio, skutecznie, fajnie, elbląg, okolice, copywriting">

    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@300;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">

</head>

<body>

    <div id="particles-js"></div>

    <nav class="navigation">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Oferta</a></li>
            <li><a href="">O mnie</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Kontakt</a></li>
        </ul>
    </nav class="navigation">

    <div class="wrapper">
        <header id="home">
            <div class="my-photo">
                <img src="img/KG.jpg" alt="Kamil Gajewski">
            </div>
            <h2 class="my-name">Kamil Gajewski</h2>
            <div class="professions"></div>

            <div class="socials">

                <a href=""><span class="fab fa-facebook-f"></span></a>
                <a href=""><span class="fab fa-youtube"></span></a>
                <a href=""><span class="fab fa-linkedin-in"></span> </a>
                <a href=""><span class="fas fa-at email"></span></a>
            </div>

            <div class="button-down">
                <a href="">
                    <span class="mouse">
                        <span class="mouse-down">

                        </span>
                    </span>
                </a>
            </div>
        </header>

        <div class="sections">
            <section id="offer">
                <h1>Moja <span>oferta</span></h1>
                <div class="offer web">
                    <div class="offer-heading">
                        <h4>Strony internetowe</h4>
                        <img src="/public/img/web.png" alt="strona internetowa w komputerze">
                    </div>
                    <p class="offer-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, nulla.
                        Dolores, totam vero autem officiis deserunt qui ea ducimus. Molestiae, illum modi maxime
                        repellendus aliquid nihil facilis itaque quisquam fugit! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Facere neque deserunt amet est aut sed laudantium possimus maiores nulla? Ab
                        sed aut ea quas neque perferendis cumque harum optio saepe.</p>
                </div>
                <div class="offer blogs">
                    <div class="offer-heading">
                        <h4>Blogi</h4>
                        <img src="/public/img/newspaper.png" alt="newspaper">
                    </div>
                    <p class="offer-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, nulla.
                        Dolores, totam vero autem officiis deserunt qui ea ducimus. Molestiae, illum modi maxime
                        repellendus aliquid nihil facilis itaque quisquam fugit! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Facere neque deserunt amet est aut sed laudantium possimus maiores nulla? Ab
                        sed aut ea quas neque perferendis cumque harum optio saepe.</p>
                </div>
                <div class="offer admin">
                    <div class="offer-heading">
                        <h4>Administracja</h4>
                        <img src="/public/img/settings.png" alt="ustawienia">
                    </div>
                    <p class="offer-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, nulla.
                        Dolores, totam vero autem officiis deserunt qui ea ducimus. Molestiae, illum modi maxime
                        repellendus aliquid nihil facilis itaque quisquam fugit! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Facere neque deserunt amet est aut sed laudantium possimus maiores nulla? Ab
                        sed aut ea quas neque perferendis cumque harum optio saepe.</p>
                </div>
                <div class="offer offer-socials">
                    <div class="offer-heading">
                        <h4>Social media</h4>
                        <img src="/public/img/social.png" alt="social media">
                    </div>
                    <p class="offer-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, nulla.
                        Dolores, totam vero autem officiis deserunt qui ea ducimus. Molestiae, illum modi maxime
                        repellendus aliquid nihil facilis itaque quisquam fugit! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Facere neque deserunt amet est aut sed laudantium possimus maiores nulla? Ab
                        sed aut ea quas neque perferendis cumque harum optio saepe.</p>
                </div>
                <div class="offer copywriting">
                    <div class="offer-heading">
                        <h4>Copywriting</h4>
                        <img src="/public/img/writting.png" alt="pisanie">
                    </div>
                    <p class="offer-description">Lorem ipsum dolor sit amet, adipisicing elit. Ab, nulla.
                        Dolores, totam vero autem officiis deserunt qui ea ducimus. Molestiae, illum modi maxime
                        repellendus aliquid nihil facilis itaque quisquam fugit! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Facere neque deserunt amet est aut sed laudantium possimus maiores nulla? Ab
                        sed aut ea quas neque perferendis cumque harum optio saepe.</p>

                </div>
            </section>
            <section id="personal-offer">
                <div class="personal-offer-bg"></div>
                <div class="personal-offer-description">
                    <p>
                        tu jakiś opis o ofercie indwidualnej Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Eveniet odio impedit sed beatae quam sapiente pariatur ad culpa. Repellat ea ullam enim sed
                        ipsam. Cupiditate sed impedit laborum harum rem.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eius mollitia cumque veritatis
                        ducimus aperiam repudiandae qui amet suscipit repellat similique quod debitis voluptas
                        accusantium, ullam vero dolorem facere. Delectus.
                    </p>
                </div>
            </section>

            <section id="about">

                <div class="about-img">
                    <img src="../../public/img/zidane.jpg" alt="">
                </div>
                <div class="about">
                    <h2>O mnie</h2>
                    <p class="about-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
                        et nobis. Excepturi
                        incidunt delectus minima accusantium nostrum illum eligendi quisquam molestiae assumenda
                        eveniet. Minus repellendus, nemo fugiat quaerat in nam! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Consequuntur maiores, ab ad alias nam fuga voluptas dolore quibusdam,
                        laboriosam asperiores nesciunt harum eius, mollitia reprehenderit eveniet sint! Consequuntur,
                        voluptatibus omnis!</p>

                    <div class="about-info">
                        <ul>
                            <li class="name"></li>
                            <li class="age"></li>
                            <li class="address"></li>
                            <li class="email"></li>
                            <li class="hobby"></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section id="tools">
                <h1>Wykorzystywane technologie</h1>
                <div class="tools-slider my-slider">

                    <img src="/public/img/html.png" alt="">
                    <img src="/public/img/css.png" alt="">
                    <img src="/public/img/sass.png" alt="">
                    <img src="/public/img/js.png" alt="">
                    <img src="/public/img/bootstrap.jpg" alt="">
                    <img src="/public/img/react.png" alt="">
                    <img src="/public/img/npm.png" alt="">
                    <img src="/public/img/webpack.png" alt="">
                    <img src="/public/img/greensock.png" alt="">
                    <img src="/public/img/wordpress.png" alt="">

                </div>
            </section>

            <section id="certificates">
                <div>
                    <h1>Certyfikaty</h1>
                </div>
                <div class="certificates-gallery">
                    <img data-gallery-src="img/cer1.jpg" src="img/cer1.jpg"
                        data-gallery-desc="Certyfikat ukończenia kursu zaawansowane projekty w css i javascript"
                        alt="Certyfikat ukończenia kursu zaawansowane projekty w css i javascript">
                    <img data-gallery-src="img/cer2.jpg" src="img/cer2.jpg"
                        data-gallery-desc="Certyfikat ukończenia kursu front-end zaawansowany w 15 dni"
                        alt="Certyfikat ukończenia kursu front-end zaawansowany w 15 dni">
                    <img data-gallery-src="img/cer3.jpg" src="img/cer3.jpg"
                        data-gallery-desc="Certyfikat ukończenia kursu programowanie w javascript" data-gallery-desc
                        alt="Certyfikat ukończenia kursu programowanie w javascript">
                    <img data-gallery-src="img/cer4.jpg" src="img/cer4.jpg"
                        data-gallery-desc="Certyfikat ukończenia kursu wprowadzenie do Git i GitHub"
                        alt="Certyfikat ukończenia kursu wprowadzenie do Git i GitHub">
                    <img data-gallery-src="img/cer5.jpg" src="img/cer5.jpg"
                        data-gallery-desc="Certyfikat ukończenia kursu React od podstaw"
                        alt="Certyfikat ukończenia kursu React od podstaw">
                    <img data-gallery-src="img/cer6.jpg" src="img/cer6.jpg"
                        data-gallery-desc="Certyfikat ukończenia kursu Web developer od podstaw"
                        alt="Certyfikat ukończenia kursu Web developer od podstaw">
                </div>
            </section>

            <section id="why-worth">

                <div class="images">
                    <img src="img/thinking.png" alt="" class="thinking">
                    <img src="img/cloud.png" alt="" class="cloud">
                </div>

                <div class="why-worth-desc">
                    <h1>Zalety <span>strony www</span></h1>
                    <div>
                        <h6><span><img src="img/ok.png" alt=""></span>Zwiększenie prestiżu</h6>
                    </div>
                    <div>
                        <h6><span><img src="img/ok.png" alt=""></span>Większa wiarygodność</h6>
                    </div>
                    <div>
                        <h6><span><img src="img/ok.png" alt=""></span>Ułatwia kontakt</h6>
                    </div>
                    <div>
                        <h6><span><img src="img/ok.png" alt=""></span>Najtańsza forma reklamy</h6>
                    </div>
                    <div>
                        <h6><span><img src="img/ok.png" alt=""></span>Reklama bez ograniczeń</h6>
                    </div>
                    <div>
                        <h6><span><img src="img/ok.png" alt=""></span>Nieograniczona ilosć informacji</h6>
                    </div>
                    <div>
                        <h6><span><img src="img/ok.png" alt=""></span>Zwiększa się możliwość pozyskania nowych klientów
                        </h6>
                    </div>

                    <button class="read-more">Czytaj więcej</button>
                </div>

                <p class="why-worth-text">
                    Strony intrenetowe to wartość dodana

                    nie ma Cię w internecie to nie istniejesz

                    większość ludzi szuka czegoś w internecie

                    dodaje prestiżu/wiarygodności

                    ułatwia Kontakt

                    funkcja informacyjna

                    Reklama w sieci (całodobowa)
                    Podniesienie prestiżu
                    Komunikowanie się z ludźmi
                    Funkcja informacyjna/prezentacyjna
                    Standard dla firm
                    narzędzie do budowania własnej marki
                    budowanie wizerunku danej osoby, produktu, marki czy firmy,
                    dajesz się poznać i znaleźć szerszemu gronu klientów,
                    jesteś postrzegany jako nowoczesny przedsiębiorca – budzisz większe zaufanie,
                    podnosisz wiarygodność swojej firmy.

                    strona w internecie to najtańsza forma reklamy, inwestycja, która się zwraca,
                    - zwiększa zasięg Twojej oferty na cały kraj.

                    Strona WWW to wygoda dla Twoich klientów

                    Ekonomiczna forma reklamy
                    Oferta twojej firmy jest dostępna w Internecie 24 godziny na dobę
                    Nie ma ograniczenia co do ilości informacji, proste i darmowe udostępnianie informacji na temat
                    twojej firmy
                    Dodatkowa możliwość kontaktu z klientem np. poprzez email
                    To interaktywny sposób na prezentacje twojej firmy i komunikowania się z klientem
                    Zwiększa się możliwość pozyskania nowych klientów
                </p>
            </section>

            <section id="projects">

            </section>
            <section id="contact"></section>
        </div>

        <footer>STOPKA</footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

</body>

</html>