<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strony Internetowe Kamil Gajewski Elbląg</title>

    <meta name="description"
        content="Strony internetowe Elbląg Kamil Gajewski, tworzenie stron internetowych, usługi programistyczne, usługi doradcze">
    <meta name="author" content="Kamil Gajewski">
    <meta name="keywords"
        content="Strony internetowe, elbląg, profesjonalne, usługi programistyczne, usługi doradcze, marketing, nowocześnie, skutecznie">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@300;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">

</head>

<body>

    <div id="particles-js"></div>

    <nav class="navigation">
        <ul>
            <li><a data-easing="linear" data-scroll href="#">Home</a></li>
            <li><a data-easing="linear" data-scroll href="#offer">Oferta</a></li>
            <li><a data-easing="linear" data-scroll href="#about">O mnie</a></li>
            <li><a data-easing="linear" data-scroll href="#projects">Portfolio</a></li>
            <li><a data-easing="linear" data-scroll href="#contact">Kontakt</a></li>
        </ul>
    </nav class="navigation">

    <div class="wrapper">
        <header id="home">
            <div class="my-photo">
                <img src="img/KG.jpg" alt="Kamil Gajewski">
            </div>
            <h1 class="title" data-aos="fade-right" data-aos-duration='2000'>Strony internetowe</h1>
            <h2 class="my-name" data-aos="fade-right" data-aos-delay="300" data-aos-duration='2000'>Kamil Gajewski</h2>
            <div class="professions"></div>

            <div class="socials">

                <a href="https://www.facebook.com/kamil.gajewski.9/"><span class="fab fa-facebook-f"></span></a>
                <a href="https://www.linkedin.com/in/kamil-gajewski-495499192/"><span class="fab fa-linkedin-in"></span>
                </a>
                <a href="https://github.com/kwaq102"><span class="fab fa-github"></span></a>
                <a data-easing="linear" data-scroll href="#contact"><span class="fas fa-at email"></span></a>
            </div>

            <div class="button-down">
                <a data-easing="linear" data-scroll href="#offer">
                    <span class="mouse">
                        <span class="mouse-down"></span>
                    </span>
                </a>
            </div>
        </header>

        <div class="sections">
            <section id="offer">
                <h2 data-aos="fade-right">Moja <span>oferta</span></h2>
                <div data-aos="fade-right" class="offer web">
                    <div class="offer-heading">
                        <h3>Strony internetowe</h3>
                        <img src="img/web.png" alt="strona internetowa w desktopie">
                    </div>
                    <p class="offer-description">
                        <span class="far fa-star"></span>Tworzone w oparciu o
                        najnowsze standardy, dopasowane do
                        indywidualnych potrzeb klienta.</p>
                    <p class="offer-description"><span class="far fa-star"></span>Przyjazne wyszukiwarkom i odbiorcom.
                    </p>
                    <p class="offer-description"><span class="far fa-star"></span>Projektowane zgodnie z Responsive Web
                        Design, dzięki temu są dostępne i
                        przejrzyste dla szerokiego grona odbiorców.</p>
                    <p class="offer-description"><span class="far fa-star"></span>W zależnosci od potrzeb, do tworzenia
                        stron wykorzystywany jest system
                        zarządzania treścią CMS wordpress lub tworzony cały kod od podstaw.</p>
                </div>
                <div class="offer blogs" data-aos="fade-right">
                    <div class="offer-heading">
                        <h3>Blogi</h3>
                        <img src="img/newspaper.png" alt="newspaper">
                    </div>
                    <p class="offer-description">
                        <span class="far fa-star"></span>Nowoczesne dzienniki internetowe tworzone za pomocą wordpress.
                    </p>
                    <p class="offer-description">
                        <span class="far fa-star"></span>Prosty w obsłudze system zarządzania treścią umożliwia łatwe
                        dodawanie tekstów, wpisów, zdjęć
                        etc.</p>
                    <p class="offer-description">
                        <span class="far fa-star"></span>Blogi charakteryzują się indywidualnym charakterem i
                        wyglądem. Połączone z social media trafiają do szerokiego grona odbiorców.</p>
                    <p class="offer-description">
                        <span class="far fa-star"></span>Po stworzeniu strony bloga zapewniane jest szkolenie z jego
                        obsługi.</p>
                    <p class="offer-description">
                        <span class="far fa-star"></span>Istnieje możliwość współpracy przy prowadzeniu bloga.</p>
                    </p>
                </div>
                <div class="offer admin" data-aos="fade-right">
                    <div class="offer-heading">
                        <h3>Administracja</h3>
                        <img src="img/settings.png" alt="ustawienia">
                    </div>
                    <p class="offer-description">
                        <span class="far fa-star"></span>Rejestracja domeny i umieszczenie treści na hostingu oraz
                        nadzór
                        techniczny.</p>
                    <p class="offer-description"><span class="far fa-star"></span>Kontrola nad prawidłowym działaniem
                        strony internetowej.</p>
                    <p class="offer-description"><span class="far fa-star"></span>Implementacja niezbędnych poprawek.
                        Tworzenie i wprowadzanie zmian treści strony internetowej.</p>
                    <p class="offer-description"><span class="far fa-star"></span>Aktualizacja oprogramowania na
                        serwerze.</p>
                    <p class="offer-description"><span class="far fa-star"></span>Usługa administracji strony może być
                        jednorazowa lub zapewniony nadzór przez dłuższy okres czasu.</p>
                    </p>
                </div>
                <div class="offer offer-socials" data-aos="fade-right">
                    <div class="offer-heading">
                        <h3>Social media</h3>
                        <img src="img/social.png" alt="social media">
                    </div>
                    <p class="offer-description"><span class="far fa-star"></span>Stworzenie, optymalizacja i
                        prowadzenie profilu w mediach społecznościowych. Czas to pieniądz, więc zamiast tracić
                        czas na prowadzenie fanpage'a powierz to mi :)</p>
                    <p class="offer-description"><span class="far fa-star"></span>Dbanie o Twój wizerunek</p>
                    <p class="offer-description"><span class="far fa-star"></span>Publikowanie postów, informowanie
                        klientów o usługach, produktach,
                        promocjach</p>
                    <p class="offer-description"><span class="far fa-star"></span>Media społecznościowe są używane przez
                        ponad 19 mln Polaków. "Wystarczy" trafić do odpowiedniej grupy odbiorców ;)</p>

                </div>
                <div class="offer copywriting" data-aos="fade-right">
                    <div class="offer-heading">
                        <h3>Copywriting</h3>
                        <img src="img/writting.png" alt="pisanie">
                    </div>
                    <p class="offer-description"><span class="far fa-star"></span>Profesjonalne przygotowanie tekstów
                    </p>
                    <p class="offer-description"><span class="far fa-star"></span>Teksty na strony internetowe, ofert
                        itp.</p>
                    <p class="offer-description"><span class="far fa-star"></span>Hasła i slogany</p>
                    <p class="offer-description"><span class="far fa-star"></span>Wpisy do bloga</p>
                    <p class="offer-description"><span class="far fa-star"></span>Wyjątkowe teksty szyte na miarę</p>
                    <p class="offer-description"><span class="far fa-star"></span>Pamiętaj, że wartościowe treści są
                        kluczowe do rankingów Googla!</p>
                </div>
            </section>
            <section id="personal-offer">
                <div class="personal-offer-bg"></div>
                <div class="personal-offer-description">
                    <h2 data-aos="fade">Ile kosztuje strona internetowa?</h2>
                    <p data-aos="fade">
                        Do każdego projektu podchodzę indywidualnie, dlatego każdorazowo wycena strony internetowej może
                        być inna. Posługując się analogią: „Ile kosztuje samochód?”, „To zależy jaki”. Tak samo jest z
                        ceną
                        za
                        stworzenie strony internetowej. Jest zależna od zaawansowania projektu i poświęconego czasu na
                        jego wykonanie. Podobnie jest z pozostałymi usługami – wycena jest indywidualna. Szanuje
                        potrzeby klientów, dlatego każdy projekt wykonuję z należytą starannością. Każda strona jest
                        również moją promocją więc mam w sobie wiele motywacji o stworzenie najwyższej jakości stron
                        internetowych. Przekonaj się!
                    </p>
                    <p data-aos="fade">Napisz do mnie czego oczekujesz, a na pewno dojdziemy do porozumienia :)</p>
                    <button data-aos="fade"><a data-easing="linear" data-scroll href="#contact">Napisz do
                            mnie</a></button>
                </div>
            </section>

            <section id="tools">
                <h1 data-aos="fade">Wykorzystywane technologie</h1>
                <div class="tools-slider my-slider">

                    <img src="img/html.png" alt="">
                    <img src="img/css.png" alt="">
                    <img src="img/sass.png" alt="">
                    <img src="img/js.png" alt="">
                    <img src="img/bootstrap.jpg" alt="">
                    <img src="img/react.png" alt="">
                    <img src="img/npm.png" alt="">
                    <img src="img/webpack.png" alt="">
                    <img src="img/greensock.png" alt="">
                    <img src="img/wordpress.png" alt="">

                </div>
            </section>

            <section id="why-worth">

                <div class="images" data-aos="fade-right" data-aos-duration="2000">
                    <img src="img/thinking.png" alt="kobieta zastanawia się nad stroną internetową" class="thinking">
                    <img src="img/cloud.png" alt="chmura z tekstem" class="cloud" data-aos="fade-right"
                        data-aos-duration="3000">
                </div>

                <div class="why-worth-desc">
                    <h2 data-aos="fade">Zalety <span>strony www</span></h2>
                    <div>
                        <h6 data-aos="zoom-left"><span><img src="img/ok.png" alt=""></span>Zwiększenie prestiżu</h6>
                    </div>
                    <div>
                        <h6 data-aos="zoom-left" data-aos-delay="50"><span><img src="img/ok.png" alt=""></span>Większa
                            wiarygodność</h6>
                    </div>
                    <div>
                        <h6 data-aos="zoom-left" data-aos-delay="100"><span><img src="img/ok.png"
                                    alt=""></span>Łatwiejszy kontakt</h6>
                    </div>
                    <div>
                        <h6 data-aos="zoom-left" data-aos-delay="150"><span><img src="img/ok.png"
                                    alt=""></span>Najtańsza
                            forma reklamy</h6>
                    </div>
                    <div>
                        <h6 data-aos="zoom-left" data-aos-delay="200"><span><img src="img/ok.png" alt=""></span>Reklama
                            bez ograniczeń</h6>
                    </div>
                    <div>
                        <h6 data-aos="zoom-left" data-aos-delay="250"><span><img src="img/ok.png"
                                    alt=""></span>Nieograniczona ilość informacji</h6>
                    </div>
                    <div>
                        <h6 data-aos="zoom-left" data-aos-delay="300"><span><img src="img/ok.png" alt=""></span>Zwiększa
                            się możliwość pozyskania nowych klientów
                        </h6>
                    </div>

                    <button class="read-more">Czytaj więcej</button>
                </div>

                <div class="description">
                    <p class="why-worth-text">
                        Gdyby nie internet, o wielu współczesnych celebrytach świat nigdy by nie usłyszał. To dzięki
                        internetowi, mediom społecznościowym zyskali sławę, rozpoznawalność i pewnie nie jeden dorobił
                        się
                        niemałej fortuny.</p>
                    <p class="why-worth-text">Internet jest dla wszystkich i nic nie stoi na przeszkodzie, abyś poszedł
                        w
                        ich
                        ślady... Tylko wpierw trzeba poinformować świat o tym świat!</p>
                    <p class="why-worth-text no-exist">Bardzo trafne jest stwierdzenie, że <span>„jeśli czegoś nie ma w
                            internecie to nie istnieje”.</span></p>
                    <p class="why-worth-text">Wynika to z tego, że znaczna większość osób, szukając informacji,
                        usługi, produkty itp. zaczyna
                        poszukiwania w sieci, a liczba ta będzie się zwiększać, ponieważ co raz więcej ludzi korzysta z
                        internetu, a dla dorastającego w cyfrowej rzeczywistości młodego pokolenia odnajdywanie
                        poszukiwania
                        w internecie to chleb powszedni. W Polsce użytkowników internetu jest <span>ponad 30
                            mln!!</span>
                    </p>
                    <p class="why-worth-text">Wnioski nasuwają się same: <span>„jeśli czegoś nie ma w internecie to nie
                            istnieje”.</span>
                        Własna strona internetowa to must have jeśli chce się być konkurencyjnym w dzisiejszym świecie.
                    </p>
                    <p class="why-worth-text"> Dzięki stronie www podnosisz swój prestiż, informujesz klientów o swoich
                        produktach, usługach, o
                        swojej firmie, marce. Jest to ułatwienie dla Twoich klientów, budzisz wśród nich większe
                        zaufanie,
                        jesteś postrzegany jako nowoczesny przedsiębiorca oraz podnosisz wiarygodność swojej firmy!
                        Strona
                        internetowa to najlepsza i najtańsza forma reklamy. Dostępna jest całodobowo, brak ograniczeń co
                        do
                        ilości informacji w niej zawartej, proste i łatwe wprowadzanie zmian i dostępna dla każdego.</p>
                    <p class="why-worth-text order">
                        Zamów stronę internetową i pokaż światu, że istniejesz!
                    </p>
                </div>
            </section>

            <section id="how-works">
                <div class="how-works-bg"></div>
                <div>
                    <div class="how-works-heading">
                        <h2 data-aos="fade">Jak <span>współpracujemy?</span></h2>
                    </div>
                    <ul>
                        <li data-aos="fade-right">Kontakt<img src="img/arrow.png"></li>
                        <li data-aos="fade-right" data-aos-delay="50">Pomysł<img class="idea" src="img/arrow.png"></li>
                        <li data-aos="fade-right" data-aos-delay="100">Decyzja<img class="decision" src="img/arrow.png">
                        </li>
                        <li data-aos="fade-right" data-aos-delay="150">Realizacja<img class="realization"
                                src="img/arrow.png"></li>
                        <li data-aos="fade-right" data-aos-delay="200">Support</li>
                    </ul>
                    <div>
                        <p data-aos="fade">Napisz mi jaki masz pomysł, oczekiwania, a ja Ci przedstawię ofertę. Jeśli
                            będzie
                            satysfakcjonująca podpiszemy umowę. Następnie dostarczasz mi wszystkie niezbędne materiały
                            do pracy i czekasz na efekty. W trakcie pracy będę się kontaktował i przedstawiał
                            poszczególne zrealizowane etapy. Na koniec instaluję stronę na serwerze. Przez następne 6
                            miesięcy sprawuję nadzór nad stroną i jeżeli coś nie działa jak należy – wprowadzam
                            niezbędne poprawki.</p>
                        <div class="how-works-heading-img">
                            <img class="codingImg" src="img/coding.png" alt="programista" data-aos="fade-left"
                                data-aos-duration="2000">
                        </div>
                    </div>
                </div>

            </section>

            <section id="about">
                <div class="about-img" data-aos="zoom" data-aos-duration="2000">
                    <img src="img/zidane.jpg" alt="">
                </div>
                <div class="about">
                    <h2 data-aos="fade-right">O mnie</h2>
                    <div class="about-info">
                        <ul>
                            <li data-aos="fade" data-aos-delay="100" class="name"><span>Name:</span>Kamil</li>
                            <li data-aos="fade" data-aos-delay="100" class="age"><span>Wiek:</span>31 lat</li>
                            <li data-aos="fade" data-aos-delay="100" class="address"><span>Adres:</span>Elbląg</li>
                            <li data-aos="fade" data-aos-delay="200" class="address"><span>Telefon:</span>794 527 675
                            </li>
                            <li data-aos="fade" data-aos-delay="200" class="email">
                                <span>Email:</span>gajewwwski@gmail.com
                            </li>
                            <li data-aos="fade" data-aos-delay="200" class="hobby"><span>Hobby:</span>Sport, nowe
                                technologie, gry</li>
                        </ul>
                    </div>
                    <p class="about-description" data-aos="fade">Nazywam się Kamil Gajewski i od pewnego czasu
                        interesuje się tworzeniem
                        stron internetowych oraz rzeczami z tym związanych. Pasja, szereg kursów i wykonanych projektów
                        sprawiła, że postanowiłem oprzeć swoją dziłalność freelancerską na tworzeniu stron
                        internetowych. W końcu każdy powinien dążyć do robienia tego co mu sprawia radość i satysfakcję.
                        Z wykształcenia jestem ekonomistą, z zawodu handlowcem a z pasji aspiruję, aby stać się
                        front-end-developerem. Nieustannie dokształcam się w zakresie programowania webowego.
                        Prywatnie kochany mąż, dobry ojciec i, jak to się mówi, równy chłop. Wolne chwile (haha – kto ma
                        małe dzieci to wie co to znaczy „wolna chwila”) staram się poświęcać na uprawianie, oglądanie
                        sportu, granie w Pro Evolution Soccer lub dobry film.</p>
                </div>

            </section>

            <div class="motto"></div>

            <section id="advantages">

                <h2 data-aos="fade">Co mnie wyróżnia?</h2>
                <div class="advantages">
                    <div class="advantages-list personal" data-aos="fade" data-aos-duration="1000">
                        <img src="img/personal.png" alt="">
                        <h6>Indywidualne podejście do klienta</h6>
                    </div>
                    <div class="advantages-list learning" data-aos="fade" data-aos-duration="1000" data-aos-delay="100">
                        <img src="img/learning.png" alt="">
                        <h6>Ciągłe samodoskonalenie</h6>
                    </div>
                    <div class="advantages-list development" data-aos="fade" data-aos-duration="1000"
                        data-aos-delay="200">
                        <img src="img/development.png" alt="">
                        <h6>Pasja do tworzenia</h6>
                    </div>
                    <div class="advantages-list quality" data-aos="fade" data-aos-duration="1000" data-aos-delay="300">
                        <img src="img/quality.png" alt="">
                        <h6>Najnowsze standardy</h6>
                    </div>
                    <div class="advantages-list service" data-aos="fade" data-aos-duration="1000" data-aos-delay="400">
                        <img src="img/service.png" alt="">
                        <h6>Kompleksowa obsługa</h6>
                    </div>
                    <div class="advantages-list flexible" data-aos="fade" data-aos-duration="1000" data-aos-delay="500">
                        <img src="img/flexible.png" alt="">
                        <h6>Elastyczność</h6>
                    </div>
                    <div class="advantages-list honest" data-aos="fade" data-aos-duration="1000" data-aos-delay="600">
                        <img src="img/honest.png" alt="">
                        <h6>Rzetelność</h6>
                    </div>
                    <div class="advantages-list phone" data-aos="fade" data-aos-duration="1000" data-aos-delay="700">
                        <img src="img/phone.png" alt="">
                        <h6>Dobry kontakt</h6>
                    </div>
                    <div class="advantages-list time" data-aos="fade" data-aos-duration="1000" data-aos-delay="800">
                        <img src="img/time.png" alt="">
                        <h6>Terminowość</h6>
                    </div>
                    <div class="advantages-list coffee" data-aos="fade" data-aos-duration="1000" data-aos-delay="900">
                        <img src="img/coffee.png" alt="">
                        <h6>Zawsze gotowy do pracy</h6>
                    </div>
                </div>
            </section>

            <section id="certificates">
                <div>
                    <h1 data-aos="fade">Certyfikaty</h1>
                </div>
                <div class="certificates-gallery">
                    <img data-gallery-src="img/cer1.jpg" src="img/cer1.jpg"
                        data-gallery-desc="Certyfikat ukończenia kursu zaawansowane projekty w css i javascript"
                        alt="Certyfikat ukończenia kursu zaawansowane projekty w css i javascript">
                    <img data-gallery-src="img/cer2.jpg" src="img/cer2.jpg"
                        data-gallery-desc="Certyfikat ukończenia kursu front-end zaawansowany w 15 dni"
                        alt="Certyfikat ukończenia kursu front-end zaawansowany w 15 dni">
                    <img data-gallery-src="img/cer3.jpg" src="img/cer3.jpg"
                        data-gallery-desc="Certyfikat ukończenia kursu programowanie w javascript" data-gallery-desc
                        alt="Certyfikat ukończenia kursu programowanie w javascript">
                    <img data-gallery-src="img/cer4.jpg" src="img/cer4.jpg"
                        data-gallery-desc="Certyfikat ukończenia kursu wprowadzenie do Git i GitHub"
                        alt="Certyfikat ukończenia kursu wprowadzenie do Git i GitHub">
                    <img data-gallery-src="img/cer5.jpg" src="img/cer5.jpg"
                        data-gallery-desc="Certyfikat ukończenia kursu React od podstaw"
                        alt="Certyfikat ukończenia kursu React od podstaw">
                    <img data-gallery-src="img/cer6.jpg" src="img/cer6.jpg"
                        data-gallery-desc="Certyfikat ukończenia kursu Web developer od podstaw"
                        alt="Certyfikat ukończenia kursu Web developer od podstaw">
                </div>
            </section>

            <section id="projects">
                <div class="loading-projects">
                    <h1>Moje <span>projekty</span></h1>
                    <div class="loading" data-text="Loading...">Loading...</div>
                </div>
            </section>

            <section id="contact">
                <div class="contact-heading">
                    <h2 data-aos="fade-right">Kontakt <span>do mnie</span></h2>
                </div>

                <div class="contact">
                    <div class="phone" data-aos="fade">
                        <span class="fas fa-mobile-alt"></span>
                        <a href="tel://+48794527678">+48 794 527 678</a>
                    </div>
                    <div class="email" data-aos="fade">
                        <span class="fas fa-at"></span>
                        <p>gajewwwski@gmail.com</p>
                    </div>
                    <div class="socials">
                        <div class="facebook" data-aos="fade">
                            <a href="https://www.facebook.com/kamil.gajewski.9/"><span
                                    class="fab fa-facebook-square"></span></span></a>
                        </div>
                        <div class="linkedin" data-aos="fade">
                            <a href="https://www.linkedin.com/in/kamil-gajewski-495499192/"><span
                                    class="fab fa-linkedin"></span></a>
                        </div>
                        <div class="git" data-aos="fade">
                            <a href="https://github.com/kwaq102"><span class="fab fa-github-square"></span></a>
                        </div>
                    </div>
                </div>

                <div class="tell-me">
                    <h3 data-aos="fade">Skontaktuj się ze mną...</h3>
                    <p data-aos="fade-right" data-aos-delay="200">... i opowiedz mi o sobie,</p>
                    <p data-aos="fade-right" data-aos-delay="400"> swoim biznesie, produkcie,
                        planach, celach,</p>
                    <p data-aos="fade-right" data-aos-delay="500">a ja opowiem o tym światu!
                    </p>
                </div>

                <div class="contact-desc" data-aos="fade" data-aos-duration="2000">
                    <div class="question">
                        <img src="img/question.png" alt="znaki zapytania">
                    </div>
                    <div class="question-text">
                        <p>Kto pyta nie błądzi ;).</p>
                        <p>Jeśli masz jakieś pytania, pisz/dzwoń śmiało! </p>
                        <p>Jeśli akurat nie mogę odebrać, zostaw wiadomość SMS. Na pewno w wolnej chwili oddzwonię.</p>
                        <p>Zapraszam również do kontaktu za pośrednictwem mediów społecznościowych.</p>
                    </div>
                </div>
            </section>
        </div>

    </div>
    <div id="feet">
        <div class="info">
            <p>Projekt i wykonanie: <span>Kamil Gajewski</span></p>
            <p>gajewwwski@gmail.com</p>
            <p>&copy; copyright 2020</p>
        </div>
    </div>
    <footer id="footer">
        <div class="waves"></div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1100,
        });
    </script>
</body>

</html>