#footer {
    width: 100%;
    height: 230px;
    position: relative;
    overflow: hidden;

    .waves {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 260px;
        background-color: $color-primary;
        -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
        transition: .5s;
    }

    .waves::before,
    .waves::after {
        content: '';
        position: absolute;
        width: 300vw;
        height: 300vw;
        top: -65vw;
        left: 50%;
        transform: translate(-50%, -75%);
        pointer-events: none
    }

    .waves::before {
        border-radius: 45%;
        background: rgba(52, 52, 52, 1);
        animation: waves 8s linear infinite;
    }

    .waves::after {
        border-radius: 35%;
        background: rgba(52, 52, 52, .4);
        animation: waves 15s linear infinite;
    }
}


@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg)
    }
}

@media(max-width: 1024px) {
    #footer {

        .waves {
            height: 230px;
        }
    }
}